{% extends 'base.html' %}
{% block content %}

<h1>New Store</h1>

<form method="POST" action="{{ url_for('main.new_store') }}">
    {{ form.csrf_token }}
    <fieldset>
        <!-- <legend>Please enter the information for this store:</legend> -->

        {{ form.title.label }}
        {{ form.title }}

        {{ form.address.label }}
        {{ form.address }}

        <!--Showing Errors-->
        <ul>
            {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
            {% for error in form.address.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}